:root {
  --gradient-dir1: 45deg;
  --gradient-dir2: 90deg;
  --gradient-dir3: -45deg;
}
.mtk10,
.mtk15 {
  color: transparent;
  background-image: linear-gradient(to left top, #fc6c8f, #ff2ced, #ffb86c);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mtk5 {
  color: transparent;
  background-image: linear-gradient(var(--gradient-dir1), #20e3b2, #4dd78a);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.mtk16 {
  color: transparent;
  background-image: linear-gradient(var(--gradient-dir1), #d66efd, #6a5af9);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.mtk9,
.mtk17 {
  color: transparent;
  background-image: linear-gradient(to right top, #0072ff, #2cccff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.mtk18 {
  color: transparent;
  background-image: linear-gradient(var(--gradient-dir2), #82aaff 50%, #3d6ef7);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-style: normal;
}
.mtk3 {
  color: transparent;
  background-image: linear-gradient(to right top, #c29ffd, #ffb4dc, #fef0d1);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.mtk7 {
  color: transparent;
  background-image: linear-gradient(to right bottom, #fc6c8f, #ffb86c);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Other */
.monaco-workbench
  .activitybar
  > .content
  :not(.monaco-menu)
  > .monaco-action-bar
  .action-item.checked
  .active-item-indicator:before {
  border: 0;
  width: 3px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom, #fc6c8f, #ff2ced);
}

.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .tabs-container
  > .tab.active.tab-border-top
  > .tab-border-top-container {
  background-image: linear-gradient(to left, #fc6c8f, #ff2ced);
  height: 3px;
}
.monaco-workbench
  .activitybar
  > .content
  :not(.monaco-menu)
  > .monaco-action-bar
  .badge
  .badge-content {
  background-image: linear-gradient(var(--gradient-dir2), #fc6c8f, #ff2ced);
}
